@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-primary: #2B252C;
  --color-brand-secondary: #2E484C;
  --color-brand-muted: #AAB0B3;
  --color-brand-white: #FFFFFF;

  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
}
