@import "@fontsource/playfair-display/400.css";
@import "@fontsource/playfair-display/700.css";
@import "@fontsource/geist-sans/400.css";
@import "@fontsource/geist-sans/700.css";
@import "@fontsource/geist-mono/400.css";

@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Geist Sans", sans-serif;
  --font-mono: "Geist Mono", monospace;

  /* Paleta Dulce Secreto */
  --color-brand-primary: #2B252C;   /* Morado Berenjena */
  --color-brand-secondary: #2E484C; /* Verde Petróleo */
  --color-brand-muted: #AAB0B3;     /* Gris Acero */
  --color-brand-white: #FFFFFF;     /* Blanco Hueso */

  --radius: 0.625rem;
}

@layer base {
  body {
    @apply bg-brand-white text-brand-primary font-sans antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif text-brand-primary;
  }
}