---
import Analytics from '@vercel/analytics/astro';
import BaseHead from '../components/BaseHead.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

interface Props {
  title?: string;
  description?: string;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang='es'>
  <head>
    <BaseHead title={title} description={description} />
    <Analytics />
  </head>
  <body>
    <slot />
    <script src='../scripts/main.ts'></script>
  </body>
</html>
